nav {
	background-color: #af7eeb;
	padding: 0.8rem 1.5rem;
}

nav .inner-nav-content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
}

nav .inner-nav-content .title-nav {
	align-self: center;
	flex-grow: 1;
	text-align: center;
	font-weight: 500;
}

@media screen and (min-width: 769px) {
	nav {
		padding: 1.2rem 0;
	}

	nav .inner-nav-content {
		max-width: 1270px;
		margin: 0 auto;
		width: 80%;
	}
}
